#!/usr/bin/make -f

export HOME = $(CURDIR)/debian/tmp-home
export XDG_DATA_HOME = $(CURDIR)/debian/tmp-xdg-data

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_test:
	dh_auto_test -- --test-pytest

override_dh_auto_install:
	dh_auto_install
	find debian/tmp -type d -name .pytest_cache -prune -exec rm -rf {} +
